<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=.\SQLEXPRESS; Initial Catalog=ESCRM_DB; Trusted_Connection=true; pooling=false;"/>
    <add key="NNESerial" value="erh877" />
    <add key="ExceptionRecipts" value="mgr@ehsyd.dk;jct@ehsyd.dk" />
    <add key="ExceptionSender" value="escrm@ehsyd.dk" />
    <add key="SMTPServer" value="172.16.2.31" />
    <add key="NneCrmUser" value="NNEAU" />
    <add key="NneCrmPassword" value="NNEAU" />
    <add key="NneHoursBetweenRuns" value="20" />
    <add key="NneIgnoreCompanyUpdatedWithinDays" value="30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>