<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDS.EBSTCRM.Base.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IDS.EBSTCRM.Base.Properties.Settings>
            <setting name="IDS_EBSTCRM_Base_NNO_NavneNumreBasis" serializeAs="String">
                <value>http://tunnel.nno.dk/NNService/1.0/NavneNumreService.pl</value>
            </setting>
            <setting name="IDS_EBSTCRM_Base_NNE_NNE" serializeAs="String">
                <value>http://service.nnerhverv.dk:80/nne-ws/3.1/NNE</value>
            </setting>
        </IDS.EBSTCRM.Base.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
